<footer class="o-page__footer c-footer">
    <nav>
        <ul>
            <li><a href="https://d6e.co/slack">Slack</a></li>
            <li><a href="https://github.com/datawire/ambassador">GitHub</a></li>
            <li><a href="https://www.getambassador.io/contact">Sales</a></li>
        </ul>
    </nav>
</footer>
